@using Xjt.Common
@using Xjt.Data

@{
    ViewBag.Tag = 2;
    var id = Request.Params["id"].ToStringEx();
    Product product = null;
    if (string.IsNullOrWhiteSpace(id))
    {
        ViewBag.Title = "添加主推产品";
    }
    else
    {
        ViewBag.Title = "修改主推产品";
        var list = CommonHelper.GetJsonModel<List<Product>>("Product");
        if (list != null)
        {
            product = list.Find(a => a.Id == TryConvertUtil.ToInt(id));
        }
    }

}
@Styles.Render("/Style/form.css")
@Styles.Render("/scripts/webuploader/webuploader.css")
@Scripts.Render("/scripts/webuploader/webuploader.min.js")
@Scripts.Render("/scripts/wEdit/wangEditor.min.js")

<div class="content-inner form-cont">
    <div class="row">
        <div class="col-md-12">
            <div class="card form" id="form1">
                <div class="card-header">
                    <h3>@(ViewBag.Title)</h3>
                </div>
                <br>
                <form>
                    <div class="form-group row">
                        <label for="add-product-name" class="col-sm-2 col-form-label">产品名</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-name" placeholder="产品名" value="@(product!=null?product.Name:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-model" class="col-sm-2 col-form-label">产品型号</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-model" placeholder="产品型号" value="@(product!=null?product.Model:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-encapsulation" class="col-sm-2 col-form-label">封装</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-encapsulation" placeholder="封装" value="@(product!=null?product.Encapsulation:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-power" class="col-sm-2 col-form-label">功率</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-power" placeholder="功率" value="@(product!=null?product.Power:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-inputvoltage" class="col-sm-2 col-form-label">输入电压</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-inputvoltage" placeholder="输入电压" value="@(product!=null?product.InputVoltage:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-outputvoltage" class="col-sm-2 col-form-label">输出电压</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-outputvoltage" placeholder="输出电压" value="@(product!=null?product.OutputVoltage:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-outputelectric " class="col-sm-2 col-form-label">输出电流</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-outputelectric" placeholder="输出电流" value="@(product!=null?product.OutputElectric:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-stock " class="col-sm-2 col-form-label">库存信息</label>
                        <div class="col-sm-10">
                            <input class="form-control is-valid" id="add-product-stock" placeholder="库存信息" value="@(product!=null?product.Stock:string.Empty)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-name" class="col-sm-2 col-form-label">产品图片</label>
                        <div class="col-sm-10">
                            <div id="picker">选择文件</div>
                            <img id="add-product-img" src="@(product!=null?product.Img:string.Empty)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-product-content" class="col-sm-2 col-form-label">产品详情</label>
                        <div class="col-sm-10">
                            <div id="add-product-content">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-general btn-blue mr-2" id="add-product-add">提交</button>
                    <button type="button" class="btn btn-general btn-white" id="add-product-cancel">取消</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    var pid;
    $(function () {
        pid = getUrlParam('id');
        // 初始化Web Uploader
        var uploader = WebUploader.create({
            auto: true,
            swf: '/scripts/webuploader/Uploader.swf',
            server: '/manager/data/productuploadfile?' + getUrlSignParamStr() + '&id=' + pid,
            pick: '#picker',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        uploader.on('uploadSuccess', function (file) {
            if (file.size > 1 * 1024 * 1000) {
                alert('上传图片超过1M，禁止上传');
            }
        });

        uploader.on('uploadComplete',
            function (file) {
                $('#add-product-img').attr('src', '/image/upload/' + file.name);
            });

        //初始化编辑器
        var E = window.wangEditor;
        var editor = new E('#add-product-content');
        // 配置服务器端上传图片地址
        //editor.customConfig.uploadImgServer = '/manager/data/productuploadfile?' + getUrlSignParamStr() + '&t=1';
        editor.customConfig.uploadImgMaxLength = 1;
        editor.customConfig.uploadImgMaxSize = 1 * 1024 * 1024;
        editor.customConfig.uploadImgShowBase64 = true;
        editor.create();
        editor.txt.html('@(product != null ? product.Content : string.Empty)');

        //初始化提交
        $('#add-product-add').on('click',
            function () {
                var name = $('#add-product-name').val();
                var model = $('#add-product-model').val();
                var encapsulation = $('#add-product-encapsulation').val();
                var power = $('#add-product-power').val();
                var inputvoltage = $('#add-product-inputvoltage').val();
                var outputvoltage = $('#add-product-outputvoltage').val();
                var outputelectric = $('#add-product-outputelectric').val();
                var stock = $('#add-product-stock').val();

                var img = $('#add-product-img').attr('src');
                var content = editor.txt.html();

                $.ajax({
                    type: 'post',
                    url: '/manager/data/updateproductdata?' + getUrlSignParamStr(),
                    data: {
                        'id': pid ? pid : null,
                        'name': name,
                        'model': model,
                        'encapsulation': encapsulation,
                        'power': power,
                        'inputvoltage': inputvoltage,
                        'outputvoltage': outputvoltage,
                        'outputelectric': outputelectric,
                        'stock': stock,
                        'img': img,
                        'content': content
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code === 500) {
                            alert(data.data);
                            return;
                        }

                        window.location = '/manager/data/product?' + getUrlSignParamStr();
                    }
                });
            });

        //初始化取消
        $('#add-product-cancel').on('click',
            function () {
                window.location.href = '/manager/data/product?' + getUrlSignParamStr();
            });
    });
</script>